<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    .jumbotron {
      background-image: url('backdrop.jpg'); 
      background-size: cover;
      background-repeat: repeat;
      text-shadow: 1px 1px 4px darkslategray;
      color: whitesmoke;
    }
    #tags {
      color: whitesmoke;
      text-decoration: none;
    }
    #tags ::after {
      text-decoration: underline;
    }
  </style>
  <script>
    const rooms = "<%= rooms %>"
  </script>
</head>
<body>
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
      Chit-Chat
    </a>
  </nav>
  <header class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1>Available chatrooms:</h1>
      <div id="room-container">
          <% Object.keys(rooms).forEach(room => { %>
            <a href="/<%= room %>" id="tags" style="font-size: <%= Math.floor(Math.random() * 30) + 18 %>px;">#<%= room %></a>
            &nbsp;&nbsp;
          <% }) %>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <h1>Wanna create a new one?</h1>
    <form action="/room" method="POST">
      <div class="form-group">
        <label for="roomname">Chat-room name:</label>
        <input name="room" type="text" class="form-control" placeholder="Enter chat-room name" id="roomname" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form> -->
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>